@import '@documenso/ui/styles/theme.css';

@font-face {
  font-family: "CeraPro";
  src: url('/fonts/CeraProBlack.otf');
  font-weight: 900; /* Black weight */
  font-style: normal;
}


@font-face {
  font-family: "CeraPro";
  src: url('/fonts/CeraProBold.otf');
  font-weight: bold; /* Bold weight */
  font-style: normal;
}



/* @font-face {
  font-family: "CeraPro";
  src: url('/fonts/CeraProMedium.otf');
  font-weight: 500; 
  font-style: normal;
} */
@font-face {
  font-family: "CeraPro";
  src: url('/fonts/CeraPro-Regular-test.ttf');
  font-weight: 500; /* Medium weight */
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: url('/fonts/FuturaBold.otf');
  font-weight: 700; 
  font-style: normal;
}
@font-face {
  font-family: "KingsCaslon";
  src: url('/fonts/KingsCaslon_Trial_Bd.ttf');
  font-weight: 700; 
  font-style: normal;
}
@font-face {
  font-family: "Univers";
  src: url('/fonts/UniversBold.ttf');
  font-weight: 700; 
  font-style: normal;
}
@font-face {
  font-family: "CeraPro";
  src: url('/fonts/CeraProLight.otf');
  font-weight: 300; /* Light weight */
  font-style: normal;
}


@font-face {
  font-family: "CeraPro2";
  src: url('/fonts/Cera Pro Regular.otf');
  
}

:is(html , body):has(.cera-pro-font){
  background-color : #F3F4F6;
}

 * {
  font-family: "CeraPro", sans-serif !important;
}


:root {
  --main-color : #2563EB;
}

.command-dialog-w {
  @apply max-w-xl bg-gray-50;
}
.command-dialog-w > div {
  @apply  bg-gray-50;

}

.command-dialog-w .command-icon {
  height : 15px !important;
  opacity: 0.8;
  @apply text-gray-400 ;

  
}
.command-dialog-w  .command-input {
  border : 1px solid black ;
  margin-right: 20px;
margin-block: 10px ;
padding-inline : 8px; 
font-size : 15px !important;
}
.command-dialog-w  .command-input:focus {
border-color : var(--main-color);
border-width : 2px;
transition : all 300ms ease ;
}
.command-dialog-w .command-group{
  padding : 0px;
  margin : 0px;
}
.command-dialog-w .command-group > div[cmdk-group-heading] {
  font-size : 13px ;
  font-weight: bold;
  color : var(--main-color);
  opacity : 1 !important;
  margin-left: 17px;
}

.command-dialog-w .command-list {
  transition: all 100ms ease;
  padding-inline: 17px !important ;
  margin : 0px;
  border-radius: 0px !important;
}
.command-dialog-w .command-list:hover {
  background: var(--main-color);
  color : white;

}